langchain
langchain-experimental
langchain-huggingface
langchain-community
langchain-openai
chromadb

python-dotenv
streamlit

transformers>=4.30
accelerate
huggingface-hub

pymupdf
pdf2image
Pillow
pdfplumber
PyPDF2

python-docx

# Utilidades adicionales comunes
tqdm

sentence-transformers>=2.2.2
torch>=2.0
